<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>exercise_teacher.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Process_CourseIntroduction_Teacher</servlet-name>
        <servlet-class>Process_CourseIntroduction_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Course_Introduction_Teacher</servlet-name>
        <servlet-class>Display_Course_Introduction_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Exercise_Teacher</servlet-name>
        <servlet-class>Process_Exercise_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Exercise_Teacher</servlet-name>
        <servlet-class>.Display_Exercise_Teacher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process_CourseIntroduction_Teacher</servlet-name>
        <url-pattern>/Process_CourseIntroduction_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Course_Introduction_Teacher</servlet-name>
        <url-pattern>/Display_Course_Introduction_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Exercise_Teacher</servlet-name>
        <url-pattern>/Process_Exercise_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Exercise_Teacher</servlet-name>
        <url-pattern>/Display_Exercise_Teacher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\Program Files\Apache Software Foundation\Apache Tomcat 8.0.27\webapps\data
     </param-value>
    </context-param>
</web-app>
